body {
  background-color: #d3d5d4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.footer-top{
  background-color: #283E51;
  color: #d3d5d4;
  padding: 4em;
}
.footer-bottom{
  background-color: #d3d5d4;
  color: #283E51;
  padding: 1em;
}
.light-text{
  font-weight: lighter;
}
.top-search-bar {
    background-color: #d3d5d4;
    border-top: 2px solid #31020d;
    padding: 0.5em;
    width: 100%;
    position: relative;
    top: -20px;
}
.navbar {
    height: 90px;

  text-align: center;
}
.services{
  padding: 5em;
}


#style input[type="text"],
#style input[type="email"] {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}
#style input[type="text"]:focus,
#style input[type="email"]:focus {
  border-color: #FF6F00;
}

#style input[type="radio"] {
  margin-right: 10px;
}

#style label {
  margin-bottom: 20px;
  display: block;
  font-size: 15px;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  cursor: pointer;
}
#style label:first-child {
  margin-bottom: 0;
  border-bottom: none;
}


#c {
  padding: 10px 20px;
  border-radius: 3px;
  background: #FF6F00;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}
h1, .h1 {
    font-size: 2rem;
    text-align: center;
    color: beige;
    font-family: initial;
    text-transform: uppercase;
}
#style{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
#style h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
#style [type="text"],

#style  input[type="email"],

#style input[type="password"],
#style textarea,
#style form select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}


#style  textarea{
    resize:none;
    overflow: hidden;
}
p {
    font-family: inherit;
    font-weight: normal;
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 17px;
}
#c{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
#style input[type="button"]:hover, 
#style  input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.react-slideshow-container .nav:first-of-type {
    margin-right: -30px;
    color: black;
}
.react-slideshow-container .nav:last-of-type {
    margin-left: -60px;
    color: black;
}
.car-icon{
  margin-right: 7px;
}
.bg-primary {
    background-color: #d21e1e !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    float: left;
}
.carList-row{
  margin-top: 1em;
  margin-bottom: 1em;
}
.title{
  color: #283E51;
}
.subtitle{
  color: #626262;
}

.carlist-table{
  font-size: 14px;
}
/* .table th, .table td {
  padding: 0;
  border: none;
} */
.price{
  font-size: 18px;
  text-align: right;
}
.carlist-margin{
  margin: 1em;
}
.singleImage{
  width: 700px;
  height: auto;
  border-radius: 5px;
}
.image-n-price{
  background-color: #fff;
  padding: 1.5em 0.8em;
  border: 1px solid #00C49C;
  border-radius: 5px;
}
.one-car-price{
  text-align: right;
}
.feature-highlight{
  font-size: 16px;
  font-weight: lighter;
  margin: 1em;
  text-align: justify;
}
.vin-stock{
  font-size: 10px;
  line-height: 2px;
}
.admin-car-image{
  width: 400px;
  height: auto;
  border-radius: 5px;
}
.table td {
  border: none;
  line-height: 1em;
}
.social-icons{
  font-size: 70px;
  color: red;
}
